.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    position: relative;
    width: 100%;
    height: 59px; 
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 10px;
}

.material-icons {
    color: white;
}

.button {
    background-color: transparent; 
    border: none;   
    margin-left: 5px;
}

.division {
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center; /* Isso alinha os itens verticalmente */
}

.user-name{
    padding-top: 0px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.user-icon{
    width: fit-content;
    padding-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.logout{
    margin-left: 10px;
    /* margin-right: 10px;  */
}

.logo{
    position: absolute;
    left: 5%;
}

.icon{
    align-self: center;
    padding-left: 10px;
}