.container {
    display: flex;
    overflow: hidden;
}

.mat-card {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: max-content;
    width: 550px;
    height: 480px;
    margin-left: 25px;
    margin-top: 10px;
}

.send-button{
    background-color: var(--ajusted-red); 
    color: white;
    width: 420px;
    height: 50px;
    margin-right: 10px;
}

.close-button{
    background-color: var(--gray); 
    color: white;
    width: 50px;
    height: 50px;
}

.description-field{
    width: 500px; 
    height: 250px; 
    max-height: 250px;  
}

.title-field{
    width: 340px;
    margin-right: 10px;
}

.category-field{
    width: 150px;  
}

mat-icon{
    align-self: center;
    padding-left: 10px;
}

.title {
    font-weight: 400;
    font-size: 1.5em;
    padding-top: 15px;
}