    <div class="container">
        <mat-card class="mat-card">
            <mat-card-header class="mat-card-header">
                <mat-card-title>
                    <span>
                        <img class="logo" src="assets/img/logo.png" alt="logo" style="margin: 0 -5%;">
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content" >
               <form class="form">
                    <mat-form-field class="mat-form-field" >
                        <mat-label>Usuário</mat-label>
                        <input type="text" matInput [formControl]="user">
                    </mat-form-field>
                    <mat-form-field class="mat-form-field">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" class="mat-icon-button" type="button">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div>
                        <button 
                            class="login-button" 
                            mat-raised-button 
                            style="background-color: var(--old-green); color: white;"
                            type="submit" 
                            (click)="login()">Entrar</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>