.container {
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0 30px;
}

.title {
    font-weight: 400;
    font-size: 1.5em;
    position: relative;
    left: -220px;
    padding-top: 15px;
}

.mat-card-title {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.mat-card-content {
    overflow: auto;
}

.mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mat-cell {
    padding: 20px;
}

.mat-form-field {
    width: 300px;
}