.button{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
}

.button-container-horizontal {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.form{
    min-width: 50%;
    max-width: 100%;
    width: 100%;
  }

.form-field {
    margin-left: 20px;
    min-width: 50%;
    max-width: 95%;
}

mat-card-title {
    color: black;
    font-size: large;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
}
mat-card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

mat-card-content mat-form-field {
    margin-right: 20px;
    margin-left: 20px;
}

.back-button {
    background-color: var(--gray);
    color: white;
    margin: 5px;
}

.create-button {
    background-color: blueviolet;
    color: white;
    margin: 5px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}
