.container {
    display: flex;
    overflow: hidden;
}

.mat-card {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: max-content;
    width: 350px;
    height: 500px;
    margin-left: 25px;
    margin-top: 10px;
}

.mat-card-header {
    padding-bottom: 15px;
    height: 30px;
}

.mat-card-content {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-form-field {
    width: 300px;
}

h2 {
    padding: 10px;
}

p{
    margin: 0px;
    padding: 0px;
    font-size: x-small;
    align-self: center;
    height: 10px;
}

li{
    margin: 0px;
    padding: 0px;
    font-size: x-small;  
}

mat-card-title{
    height: 50px;
}

.valid {
    color: var(--green);
  }
  
.invalid {
    color: var(--red);
}

.error {
    font-size: x-small;
    color: var(--red);
    height: 10px;
}

.reset-button{
    background-color: var(--portal-green); 
    color: white;
    width: 226px;
    height: 50px;
    margin-right: 10px;
}

.logout-button {
    color: white;
    background-color: var(--red); 
    margin-left: 0px;
    /* width: 30px; */
    height: 50px;
}

.logout-icon {
    align-self: center;
    padding-left: 10px;
}

mat-icon-button {
    display: none;
  }