<div class="container">
    <mat-card class="mat-card">
        <mat-card-title class="mat-card-header">
            <h2>Alterar Senha do Usuário</h2>
        </mat-card-title>
        <mat-card-content class="mat-card-content">
            <p>Sua senha deve conter:</p>
            <ul>
                <li [ngClass]="{'valid': hasMinLength, 'invalid': !hasMinLength}">No mínimo 10 caracteres</li>  
                <li [ngClass]="{'valid': hasLowerCase, 'invalid': !hasLowerCase}">Letras minúsculas</li>
                <li [ngClass]="{'valid': hasUpperCase, 'invalid': !hasUpperCase}">Letras maiúsculas</li>
                <li [ngClass]="{'valid': hasNumber, 'invalid': !hasNumber}">Números</li>
                <li [ngClass]="{'valid': hasSpecialChar, 'invalid': !hasSpecialChar}">Caracteres especiais (ex: !#$%^&*)</li>
            </ul>
        </mat-card-content>
        <mat-card-content class="mat-card-content">
           <form class="form">
                <mat-form-field class="mat-form-field">
                    <mat-label>Senha atual</mat-label>
                    <input [type]="hideOld ? 'password' : 'text'" matInput type="text" [formControl]="oldPassword">
                    <button 
                        mat-icon-button 
                        [type]="hideOld ? 'password' : 'text'" 
                        matSuffix (click)="hideOld = !hideOld" 
                        class="mat-icon-button" 
                        type="button">
                        <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Nova senha</mat-label>
                    <input [type]="hideNew ? 'password' : 'text'" matInput type="text" [formControl]="newPassword">
                    <button 
                        mat-icon-button 
                        [type]="hideNew ? 'password' : 'text'" 
                        matSuffix (click)="hideNew = !hideNew" 
                        class="mat-icon-button" 
                        type="button">
                        <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="mat-form-field">
                    <mat-label>Confirme a nova senha</mat-label>
                    <input matInput [type]="hideConf ? 'password' : 'text'" type="text" [formControl]="confirmedNewPassword">
                    <button 
                        mat-icon-button 
                        [type]="hideConf ? 'password' : 'text'" 
                        matSuffix (click)="hideConf = !hideConf" 
                        class="mat-icon-button" 
                        type="button">
                        <mat-icon>{{hideConf ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="confirmedNewPassword.invalid">{{this.error}}</mat-error>
                    <div *ngIf="error" class="error">{{ error }}</div>
                </mat-form-field>
                <span>
                    <button mat-raised-button 
                        type="submit" 
                        class="reset-button"
                        (click)="changePassword()"
                        title="">
                        Alterar Senha
                    </button>
                    <button mat-raised-button  
                        class="logout-button" 
                        (click)="logout()" 
                        title="Sair">
                        <mat-icon class="logout-icon">logout</mat-icon>
                    </button>
                </span>
            </form>
        </mat-card-content>
    </mat-card>
</div>